<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Registro de Personas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input type="text" [(ngModel)]="persona.nombre"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Apellido</ion-label>
                  <ion-input type="text" [(ngModel)]="persona.apellido"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Edad</ion-label>
                  <ion-input type="text" [(ngModel)]="persona.edad"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="text" [(ngModel)]="persona.email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Telefono</ion-label>
                  <ion-input type="text" [(ngModel)]="persona.telefono"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button expand="block" color="primary" (click)="guardarPersona()" >Guardar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Lista de Personas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let persona of personas">
              <ion-label>{{persona.nombre}} {{persona.apellido}}</ion-label>
              <!--Icono de eliminar-->
              <ion-icon name="trash" slot="end" (click)="eliminarPersona(persona)"></ion-icon>
              <!--Icono de modificar-->
              <ion-icon name="create" slot="end" (click)="modificarPersona(persona)"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
